body:has(.home){
    background-color: black;
    background-size: cover;
    margin:0;
    padding: 0;
   
}
.home{
    color: #616161;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.design{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;

}
